/*
Created by IntelliJ IDEA.
  User: Denis Ivansky
  Date: 06.12.13
Time: 17:15
*/
.order-table{
    border-collapse:collapse;
    border: 3px solid #BBBBBB;
    margin-top: 20px;
    width: 80%;
}

.order-table caption{
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

.order-table td{
    border-collapse:collapse;
    border: 1px solid #BBBBBB;
}

.order-table-header th{
    text-align:center;
    background:none repeat scroll 0 0 #E5E5E5;
    padding:8px;
}

.order-table-row{
    text-align:left;
    margin:5px;
    cursor: pointer;
}

.order-table-row td{
    padding: 3px 7px;
    max-width: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.order-table-row td img {
    display: block;
    margin: auto;
    border: 0;
}
.order-table-row td>div {
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 3;*/
    /*-webkit-box-orient: vertical;*/
    max-height: 3.6em;
}

.order-table-row td>div.tooltip {
    margin: 7px 0 0 5px;
    max-height: none;
    position:absolute;
    width:43%;
    display:block;
    z-index:10;
    background:none repeat scroll 0 0 #F9F9F9;
    padding:5px;
    border: 3px solid #BBBBBB;
    border-radius:10px;
}

tr.order-table-row:nth-child(even) {
    background:none repeat scroll 0 0 #F9F9F9;
}

.nowrap{
    white-space: nowrap;
}

.pagingBlock{
    text-align: center;
}

.pg-normal {
    color: black;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
}
.pg-selected {
    color: black;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.icon{
    width: 12px;
}

