/*
Created by IntelliJ IDEA.
  User: Denis Ivansky
  Date: 06.12.13
Time: 17:15
*/
.order-table{
    border-collapse:collapse;
    border: 3px solid #BBBBBB;
    margin-top: 20px;
}

.order-table td{
    border-collapse:collapse;
    border: 1px solid #BBBBBB;
}

.order-table-header th{
    text-align:center;
    background:none repeat scroll 0 0 #E5E5E5;
    padding:8px;
}

.order-table-row{
    text-align:left;
    margin:5px;
}

.order-table-row td{
    padding: 0px 5px;
    max-width: 360px;
}
.order-table-row td img {
    display: block;
    margin: auto;
    border: 0;
}

tr.order-table-row:nth-child(even) {
    background:none repeat scroll 0 0 #F9F9F9;
}

.nowrap{
    white-space: nowrap;
}

