<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013. Denis Ivansky. All Rights Reserved. No part of this website may be reproduced without Denis Ivansky's express consent.
  -->
<Configuration status="warn">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
        </Console>
        <!--<RollingFile name="RollingFile" fileName="log.log"-->
                     <!--filePattern="$${date:yyyy-MM}/log-%d{yyyy-MM-dd-HH}-%i.log.gz">-->
            <!--<PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>-->
            <!--<Policies>-->
                <!--<TimeBasedTriggeringPolicy interval="24" modulate="true"/>-->
                <!--<SizeBasedTriggeringPolicy size="250 MB"/>-->
            <!--</Policies>-->
        <!--</RollingFile>-->
        <Async name="Async">
            <!--<AppenderRef ref="RollingFile"/>-->
            <AppenderRef ref="Console"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Async"/>
        </Root>
    </Loggers>
</Configuration>