<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="userDAO" class="org.drorzz.elsie.dao.impl.UserDAOImpl"/>
    <bean id="departmentDAO" class="org.drorzz.elsie.dao.impl.DepartmentDAOImpl"/>
    <bean id="dayReportDAO" class="org.drorzz.elsie.dao.impl.DayReportDAOImpl"/>

</beans>