<!DOCTYPE html>
<!--suppress HtmlUnknownAttribute, CheckEmptyScriptTag -->
<html xmlns:th="http://www.thymeleaf.org"
      th:with="title=#{dayReport.label.title}+' '+((${entity.user} == null) ? '' : ${entity.user.fullName})+' - '+${{entity.date}}">
    <head lang="en">
        <meta charset="UTF-8"/>
        <title th:text="${title}"/>
        <link rel="stylesheet" type="text/css"
              href="../../resources/css/entityEdit.css"
              th:href="@{/CSS/entityEdit.css}"/>
        <link rel="stylesheet" type="text/css"
              href="../../resources/css/dayReportEdit.css"
              th:href="@{/CSS/dayReportEdit.css}"/>
    </head>
    <body id="entityEdit" style="width: 400px">
        <a th:href="@{/dayReports}" th:text="#{dayReport.label.toDayReportsList}"/>
        <!--fixme Не работает post реквест -->
        <form th:object="${entity}" method="post">
            <fieldset>
                <legend th:text="${title}"/>
                <input type="hidden" th:field="*{id}"/>
                <div>
                    <label for="user" th:text="#{dayReport.label.user}" />
                    <select id="user" th:field="*{user}">
                        <option th:if="*{user}==null" value="" th:text="#{dayReport.label.userPlaceholder}" class="placeholder" />
                        <option th:each="user : ${userList}"
                                th:value="${user.id}"
                                th:text="${user.fullName}"/>
                    </select>
                    
                </div>
                <div>
                    <label for="date" th:text="#{dayReport.label.date}" />
                    <input type="date" id="date" name="date" th:value="*{date}" />
                </div>
                <div>
                    <label for="text" th:text="#{dayReport.label.text}" />
                    <textarea id="text" th:field="*{text}" rows="5" />
                    <!--fixme В textarea выводятся екранированые теги-->
                </div>
                <input type="submit" th:value="#{button.label.saveButton}" />
            </fieldset>
        </form>
    </body>
</html>
