<!DOCTYPE html>
<!--suppress HtmlUnknownAttribute, CheckEmptyScriptTag -->
<html xmlns:th="http://www.thymeleaf.org"
      th:with="title=#{dayReportList.label.title}">
    <th:block th:include="template/main::template(${title})"/>
    <th:block th:remove="all">
        <th:block th:fragment="toHead">
            <link rel="stylesheet" type="text/css"
                  href="../../resources/css/table.css"
                  th:href="@{/css/table.css}"/>
            <script src="../../resources/js/utils.js" th:src="@{/js/utils.js}" />
        </th:block>
        <th:block th:fragment="content">
            <table class="order-table">
                <caption th:text="#{dayReportList.label.title}"/>
                <thead>
                <tr class="order-table-header">
                    <th th:text="#{dayReportList.label.user}" />
                    <th th:text="#{dayReportList.label.date}" />
                    <th th:text="#{dayReportList.label.text}" />
                    <th colspan="2">
                        <a th:href="@{/dayReports/new}">
                            <img alt="New"
                                 src="../../resources/img/new.png"
                                 th:src="@{/img/new.png}"/>
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="entity : ${entityList}" class="order-table-row"
                    th:ondblclick="|redirectToPath('@{/dayReports/{id}(id=${entity.id})}')|">
                    <td th:text="(${entity.user} == null) ? '' : ${entity.user.fullName}" class="nowrap"/>
                    <td th:text="${{entity.date}}" class="nowrap"/>
                    <td th:utext="${{entity.text}}" />
                    <td>
                        <a th:href="@{/dayReports/{id}(id=${entity.id})}">
                            <img alt="Edit"
                                 src="../../resources/img/edit.png"
                                 th:src="@{/img/edit.png}"/>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/dayReports/{id}(id=${entity.id},delete)}">
                            <img alt="Edit"
                                 src="../../resources/img/delete.png"
                                 th:src="@{/img/delete.png}"/>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pagingBlock">
                <a class="pg-normal" th:href="@{/dayReports(page=${pageHolder.firstPage ? 1 : pageHolder.page})}" > « Prev </a>
                 | <a th:each="i : ${#numbers.sequence(pageHolder.firstLinkedPage+1, pageHolder.lastLinkedPage+1)}"
                         th:id="|pg${i}|"
                         th:href="@{/dayReports(page=${i})}"
                         th:class="${pageHolder.page + 1 == i}? 'pg-selected' : 'pg-normal'"
                         th:text="${i}"/>
                 | <a  class="pg-normal"
                       th:href="@{/dayReports(page=${pageHolder.lastPage ? pageHolder.pageCount : pageHolder.page + 2})}"> Next »</a>
            </div>
        </th:block>
    </th:block>
</html>