<!DOCTYPE html>
<!--suppress HtmlUnknownAttribute, CheckEmptyScriptTag -->
<html xmlns:th="http://www.thymeleaf.org"
      th:with="title=#{department.label.title} + ' ' + ${entity.name}">
    <head lang="en">
        <meta charset="UTF-8"/>
        <title th:text="${title}" />
        <link rel="stylesheet" type="text/css"
              href="../../resources/css/entityEdit.css"
              th:href="@{/CSS/entityEdit.css}"/>
    </head>
    <body id="entityEdit" style="width: 280px">
        <a th:href="@{/departments}" th:text="#{department.label.toDepartmentList}"/>
        <form th:object="${entity}" method="post" >
            <input type="hidden" th:field="*{id}"/>
            <fieldset>
                <legend th:text="${title}"/>
                <div>
                    <label for="name"  th:text="#{department.label.name}" />
                    <input type="text" id="name" th:field="*{name}" />
                </div>
                <div>
                    <label for="level"  th:text="#{department.label.level}" />
                    <input type="text" id="level" th:field="*{level}" class="rightText" />
                </div>
                <div>
                    <label for="listOrder"  th:text="#{department.label.listOrder}" />
                    <input type="text" id="listOrder" th:field="*{listOrder}" class="rightText" />
                </div>
                <div>
                    <label for="projectActive"  th:text="#{department.label.projectActive}" />
                    <input type="text" id="projectActive" th:field="*{projectActive}" class="rightText" />
                </div>
                <input type="submit" th:value="#{button.label.saveButton}" />
            </fieldset>
        </form>
    </body>
</html>
