<!DOCTYPE html>
<!--suppress HtmlUnknownAttribute, CheckEmptyScriptTag -->
<html xmlns:th="http://www.thymeleaf.org"
      th:with="title=#{department.label.title} + ' ' + ${entity.name}">
    <head lang="en">
        <meta charset="UTF-8"/>
        <title th:text="${title}"/>
    </head>
    <body>
        <a th:href="@{/departments}" th:text="#{department.label.toDepartmentList}"/>
        <h2 th:text="${title}"/>
        <form th:object="${entity}" method="post">
            <fieldset>
                <input type="hidden" th:field="*{id}"/>
                <table class="data">
                    <tr>
                        <td th:text="#{department.label.name}" />
                        <td><input type="text" th:field="*{name}" /></td>
                    </tr>
                    <tr>
                        <td th:text="#{department.label.level}" />
                        <td><input type="text" th:field="*{level}" /></td>
                    </tr>
                    <tr>
                        <td th:text="#{department.label.listOrder}" />
                        <td><input type="text" th:field="*{listOrder}" /></td>
                    </tr>
                    <tr>
                        <td th:text="#{department.label.projectActive}" />
                        <td><input type="text" th:field="*{projectActive}" /></td>
                    </tr>
                </table>
                <input type="submit" th:value="#{button.label.saveButton}" />
            </fieldset>
        </form>
    </body>
</html>
