<!DOCTYPE html>
<!--suppress HtmlUnknownAttribute, CheckEmptyScriptTag -->
<html xmlns:th="http://www.thymeleaf.org"
      th:with="title=#{userList.label.title}">
<th:block th:replace="template/main::template(${title})"/>
<th:block th:remove="all">
    <th:block th:fragment="toHead">
        <link rel="stylesheet" type="text/css"
              href="../../resources/css/table.css"
              th:href="@{/css/table.css}"/>
        <script src="../../resources/js/utils.js" th:src="@{/js/utils.js}" />
    </th:block>
    <th:block th:fragment="leftMenu">
        <li>
            <a th:href="@{/users/new}" th:text="#{userList.label.new}"/>
        </li>
    </th:block>
    <th:block th:fragment="content">
        <table id="entityTable" class="order-table">
            <caption th:text="#{userList.label.title}"/>
            <thead>
            <tr class="order-table-header">
                <th th:text="#{userList.label.name}"/>
                <th th:text="#{userList.label.login}"/>
                <th th:text="#{userList.label.department}"/>
                <th th:text="#{userList.label.isActive}"/>
                <th colspan="2"/>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entity : ${entityList}" class="order-table-row"
                th:ondblclick="|redirectToPath('@{/users/{id}(id=${entity.id})}')|">
                <td th:text="${entity.fullName}"/>
                <td th:text="${entity.login}"/>
                <td th:text="${entity.department.name}"/>
                <td>
                    <img th:if="${entity.active}"
                         th:alt="${entity.active}"
                         src="../../resources/img/check.png"
                         th:src="@{/img/check.png}"/>
                </td>
                <td class="icon">
                    <a th:href="@{/users/{id}(id=${entity.id})}">
                        <img alt="Edit"
                             src="../../resources/img/edit.png"
                             th:src="@{/img/edit.png}"/>
                    </a>
                </td>
                <td class="icon">
                    <a th:href="@{/users/{id}(id=${entity.id},delete)}">
                        <img alt="Edit"
                             src="../../resources/img/delete.png"
                             th:src="@{/img/delete.png}"/>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </th:block>
</th:block>
</html>