<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="title=#{user.label.title} + ' ' + ${entity.fullName}">
    <head lang="en">
        <meta charset="UTF-8"/>
        <title th:text="${title}"/>
    </head>
    <body>
        <a th:href="@{/users}" th:text="#{user.label.toUserList}"/>
        <h2 th:text="${title}"/>
        <form  th:object="${entity}" method="post">
            <fieldset>
                <input type="hidden" th:field="*{id}"/>
                <table>
                    <tr>
                        <td th:text="#{user.label.login}" />
                        <td><input type="text" th:field="*{login}" /></td>
                    </tr>
                    <tr>
                        <td th:text="#{user.label.password}" />
                        <td><input type="password" th:field="*{password}" /></td>
                    </tr>
                    <tr>
                        <td th:text="#{user.label.lastName}" />
                        <td><input type="text" th:field="*{lastName}" /></td>
                    </tr>
                    <tr>
                        <td th:text="#{user.label.firstName}" />
                        <td><input type="text" th:field="*{firstName}" /></td>
                    </tr>
                    <tr>
                        <td th:text="#{user.label.email}" />
                        <td><input type="email" th:field="*{email}" /></td>
                    </tr>
                    <tr>
                        <td th:text="#{user.label.department}" />
                        <td>
                            <select th:field="*{department}">
                                <option th:each="department : ${departmentList}"
                                        th:value="${department.id}"
                                        th:text="${department.name}"/>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td th:text="#{user.label.chief}" />
                        <td>
                            <select th:field="*{chief}">
                                <option th:each="chief : ${userList}"
                                        th:value="${chief.id}"
                                        th:text="${chief.fullName}"/>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td th:text="#{user.label.accessLevel}" />
                        <td>
                            <select th:field="*{accessLevel}">
                                <option th:each="accessLevel : ${accessLevelList}"
                                        th:value="${accessLevel}"
                                        th:text="#{${'accessLevel.name.' + accessLevel}}"/>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td th:text="#{user.label.position}" />
                        <td><input type="text" th:field="*{position}" /></td>
                    </tr>
                    <tr>
                        <td th:text="#{user.label.vacation}" />
                        <td><input type="checkbox" th:field="*{vacation}" /></td>
                    </tr>
                    <tr>
                        <td th:text="#{user.label.active}" />
                        <td><input type="checkbox" th:field="*{active}" /></td>
                    </tr>
                </table>
                <input type="submit" th:value="#{button.label.saveButton}" />
            </fieldset>
        </form>
    </body>
</html>
